
// First Section.
// ====================================================

.home {

}
.logo {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.property-info {
    position: absolute;
    bottom: 120px;
    left: 40px;
    color: #fff;
}
h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 300;
    text-shadow: 1px 2px 1px #404e5c;
}
h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 100;
    text-shadow: 1px 2px 1px #404e5c;
}
.qr-code {
    right: 10px;
    top: 10px;
    position: absolute;
    p {
        margin: 0;
        color: #fff;
        text-align: center;
        text-shadow: 1px 2px 1px #404e5c;
        padding: 5px 0;
    }
}

.register {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: $secondary;
    color: #fff;
    height: 80px;
    line-height: 74px;
    width: 300px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto;
    text-align: center;
    border-bottom: solid 8px shade($secondary, 15%);
    box-shadow: 1px 2px 1px #404e5c;
    &:hover,
    &:focus,
    &:active {
        background: shade($secondary, 10%);
        color: #fff;
    }
}

// Second Section.
// Gallery.
// ====================================================

.gallery {
    .slide {
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            @include transform(translate3d(-50%,-50%,0));
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            max-width: none;
            @include transition(z-index 0s 0.2s linear);
            z-index: 1;
        }
        &.active {
            img {
                z-index: 10;
            }
        }
    }
}
.fp-controlArrow {
    border: none !important;
    width: auto !important;
    height: auto !important;
    color: #fff;
    &.fp-prev {
        &:before {
            @include material-icon("chevron_left");
            font-size: 100px;
            text-shadow: 0 2px 2px $alt-background;
        }
    }
    &.fp-next {
        &:before {
            @include material-icon("chevron_right");
            font-size: 100px;
            text-shadow: 0 2px 2px $alt-background;
        }
    }
}

// Third Section.
// Form.
// ====================================================
.form {

}