
// First Section.
// ====================================================

.home {

}
.logo {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.property-info {
    position: absolute;
    bottom: 120px;
    left: 40px;
    color: #fff;
}
h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 300;
    text-shadow: 1px 2px 1px #404e5c;
}
h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 100;
    text-shadow: 1px 2px 1px #404e5c;
}
.qr-code {
    right: 10px;
    top: 10px;
    position: absolute;
    p {
        margin: 0;
        color: #fff;
        text-align: center;
        text-shadow: 1px 2px 1px #404e5c;
        padding: 5px 0;
    }
}

.register {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: $secondary;
    color: #fff;
    height: 80px;
    line-height: 74px;
    width: 300px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto;
    text-align: center;
    border-bottom: solid 8px shade($secondary, 15%);
    &:hover,
    &:focus,
    &:active {
        background: shade($secondary, 10%);
        color: #fff;
    }
}

// Second Section.
// Gallery.
// ====================================================

.gallery {
    .slide {
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            @include transform(translate3d(-50%,-50%,0));
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            max-width: none;
            @include transition(z-index 0s 0.2s linear);
            z-index: 1;
        }
        &.active {
            img {
                z-index: 10;
            }
        }
    }
}
.fp-controlArrow {
    border: none !important;
    width: auto !important;
    height: auto !important;
    color: #fff;
    &.fp-prev {
        &:before {
            @include material-icon("chevron_left");
            font-size: 100px;
            text-shadow: 0 2px 2px $alt-background;
        }
    }
    &.fp-next {
        &:before {
            @include material-icon("chevron_right");
            font-size: 100px;
            text-shadow: 0 2px 2px $alt-background;
        }
    }
}

// Third Section.
// Form.
// ====================================================
.form {

}
.dummy-form {
    background: rgba(#fff, 0.3);
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate3d(-50%,-50%,0));
    width: 80%;
    height: 80%;
    text-align: center;
    h2 {
        text-shadow: 0px 1px 0px $alt-background;
        font-weight: 300;
        font-size: 38px;
        padding: 40px 0;
        color: #fff;
    }
    input[type=text] {
        width: 80%;
        font-size: 30px;
        font-weight: 300;
        padding: 10px 20px;
        border: none;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        @include transition(background 0.2s linear);
        @include placeholder {
            opacity: 1;
            color: #aaa;
        }
        &:focus {
            background: #fafafa;
        }
    }
    .iama {
        text-align: left;
        background: #fff;
        margin: 0 auto 10px;
        width: 80%;
        padding: 20px;
        p {
            margin: 0 0 10px;
            font-size: 24px;
            font-weight: 300;
        }
    }
    .notifications {
        text-align: left;
        background: #fff;
        margin: 0 auto;
        width: 80%;
        padding: 20px;
    }
    label {
        margin-right: 10px;
        font-size: 18px;
        input {
            margin-right: 10px;
        }
    }
}
#done {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    background: $secondary;
    color: #fff;
    height: 80px;
    line-height: 74px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto;
    text-align: center;
    border-bottom: solid 8px shade($secondary, 15%);
    &:hover,
    &:focus,
    &:active {
        background: shade($secondary, 10%);
        color: #fff;
    }
}

// Fourth Section.
// Visitor List.
// ====================================================

.visitor-list {
    background: rgba(#fff, 0.3);
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate3d(-50%,-50%,0));
    width: 80%;
    height: 80%;
    text-align: center;
    h2 {
        text-shadow: 0px 1px 0px $alt-background;
        font-weight: 300;
        font-size: 38px;
        padding: 40px 0;
        color: #fff;
    }
}
#who {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    &:before {
        @include material-icon("refresh");
        font-size: 24px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        background: rgba(#fff, 0.8);
        border-radius: 50px;
        color: $secondary;
    }    
    &:hover:before,
    &:active:before {
        background: #fff;
    }
}

#visitors {
    text-align: left;
    width: 90%;
    background: #fff;
    margin: 0 auto;
    th {
        font-weight: 300;
        padding: 10px 8px;
        border-bottom: solid 1px #ccc;
        background: #f5f5f5;
    }
    td {
        font-weight: 400;
        padding: 10px 8px;
    }
    tr:nth-child(even) td {
        background: #fafafa;
    }
}

#notify {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    background: $secondary;
    color: #fff;
    height: 80px;
    line-height: 74px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto;
    text-align: center;
    border-bottom: solid 8px shade($secondary, 15%);
    &:hover,
    &:focus,
    &:active {
        background: shade($secondary, 10%);
        color: #fff;
    }
}