// -----------------------------------------------------------------------------
// This file contains all styles for user inputs and form elements
// -----------------------------------------------------------------------------

// Input Rows.
.input-row {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(flex-start);
    margin: 12px 0;
    > * {
        flex-grow: 1;
        width: 100%;
        margin: 0 ($default-padding*2);
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}


// Override the default md-input-container styles
// from Angular Material
md-input-container {
    .md-input {
        color: $input-color;
        height: $input-height;
        line-height: $input-height - 4px;
        padding-bottom: 0;
        border-color: $input-border-color;
        @include placeholder {
            color: $placeholder-color;
            opacity: 1 !important;
        }
        &:not(.ng-pristine) {
            overflow-y: auto;
        }
    }
    textarea {
        overflow-y: auto;
        min-height: 3*$input-height;
    }
    label {
        color: $placeholder-color;
        &.md-required:after {
            color: $input-validation-color;
        }
    }

    &:not(.md-input-focused):not(.md-input-invalid) label.md-required:after {
        color: $label-color;
    }

    .md-input-messages-animation, .md-input-message-animation {
        color: $input-validation-color;
        .md-char-counter {
            color: $input-color;
        }
    }

    &:not(.md-input-invalid) {
        md-icon {
            color: $icon-color-dark;
        }
        &.md-input-has-value {
            label {
                color: $placeholder-color;
            }
        }
        &.md-input-focused {
            .md-input {
                border-color: $secondary;
            }
            label {
                color: $secondary;
            }
            md-icon {
                color: $secondary;
            }
            &.md-warn {
                .md-input {
                    border-color: $input-validation-color;
                }
                label {
                    color: $input-validation-color;
                }
            }
        }
    }
    &.md-input-invalid {
        .md-input {
            &:not(.ng-pristine) {
                border-color: $input-validation-color;
            }
        }
        label {
            color: $input-validation-color;
        }
        .md-input-message-animation, .md-char-counter {
            color: $input-validation-color;
        }
    }
    .md-input {
        &[disabled],
        [disabled] {
            border-bottom-color: transparent;
            color: $placeholder-color;
        }
    }
}

// Highlighted error messages.
// Placeholder. Removing for now.
md-input-container .validation-error-message-highlight {

}

// Selects.
md-select {
    .md-select-value {
        height: $input-height - 4px;
        line-height: 27px;
        padding-bottom: 1px;
        border-color: $input-border-color;
        @include align-items(center);
        &.md-select-placeholder {
            color: $placeholder-color;
        }
    }
    &.ng-invalid.ng-dirty {
        .md-select-value {
            color: $input-validation-color !important;
            border-bottom-color: $input-validation-color !important;
        }
    }
    &:not([disabled]):focus {
        .md-select-value {
            border-bottom-color: $secondary;
            border-bottom-width: 1px;
            color: $text-color;
            &.md-select-placeholder {
                color: $placeholder-color;
            }
        }
        &.md-warn .md-select-value {
            border-bottom-color: $input-validation-color;
        }
    }
    &[disabled] {
        opacity: 0.5;
        pointer-events: none;
        .md-select-value {
            color: $placeholder-color;
            &.md-select-placeholder {
                color: $placeholder-color;
            }
        }
    }
    .md-select-icon{
        color: shade($input-border-color, 10%);
        &:after {
            @include material-icon(arrow_drop_down);
        }
    }
}

md-select-menu {
    md-content {
        background: $menu-bg;
        md-optgroup {
            color: $text-color;
        }
        md-option {
            color: $text-color;
            @include transition(all $default-transition);
            &[disabled] {
                color: $placeholder-color;
            }
            &:hover:not([disabled]) {
                background: $menu-hover-bg;
            }
            &:focus:not([disabled]) {
                background: $menu-focus-bg;
            }
            &[selected] {
                color: $secondary;
                &:focus {
                    color: $secondary;
                }
            }
            .md-text {
                md-icon {
                    display: inline-block;
                    vertical-align: middle;
                    & + span {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

// Angular Material Checkbox Styles.
// ====================================================
md-checkbox {
    .md-ripple {
        color: $secondary;
    }
    &.md-checked .md-ripple {
        color: $secondary;
    }
    &.md-checked.md-focused ._md-container:before {
        background-color: rgba($secondary, 0.26);
    }
    .md-ink-ripple {
        color: $secondary;
    }
    &.md-checked .md-ink-ripple {
        color: rgba($secondary, 0.86);
    }
    .md-icon {
        border-color: $placeholder-color;
    }
    &.md-checked .md-icon {
        background-color: rgba($secondary, 0.86);
    }
    &.md-checked .md-icon:after {
        border-color: rgba(#fff, 0.86);
    }
    &:not([disabled]) {
        &.md-warn {
            .md-ripple {
                color: $color-error;
            }
            .md-ink-ripple {
                color: $secondary;
            }
            &.md-checked .md-ink-ripple {
                color: rgba($color-error, 0.86);
            }
            .md-icon {
                border-color: $secondary;
            }
            &.md-checked .md-icon {
                background-color: rgba($color-error, 0.86);
            }
            &.md-checked.md-focused:not([disabled]) ._md-container:before {
                background-color: rgba($color-error, 0.26);
            }
            &.md-checked .md-icon:after {
                border-color: #fff;
            }
        }
    }
    &[disabled] {
        .md-icon {
            border-color: $secondary;
        }
        &.md-checked .md-icon {
            background-color: $secondary;
        }
        &.md-checked .md-icon:after {
            border-color: $secondary;
        }
        ._md-label {
            color: $secondary;
        }
    }
}
