// -----------------------------------------------------------------------------
// This file contains all styles related progress bars and loading components.
// -----------------------------------------------------------------------------

md-progress-linear {
    .md-bar {
        background-color: $secondary;
    }
    &[value="100"] {
        .md-bar {
            background-color: $color-success;
        }
    }
}

// Main Loading overlay while SPA is loading.
// ====================================================
.loading-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $primary;
    z-index: 100;
    md-progress-circular {
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
    }
}

// Content Loading overlay when state is loading.
// ====================================================
.content-loading-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($content-bg, 0.8);
    z-index: $zindex-content-loading-overlay;
    md-progress-circular {
        color: $secondary;
        position: absolute;
        left: 50%;
        top: 50%;
        padding-top: $header-height;
        @include transform(translate(-50%, -50%));
        @include respond-to(medium) {
            padding-left: ($page-sidebar-width/2);
        }
        @include respond-to(large) {
            padding-left: ($page-sidebar-width-lg/2);
        }
    }
}
body.loading {

}
