// -----------------------------------------------------------------------------
// This file contains all styles for table styles
// -----------------------------------------------------------------------------

// CSS to make divs act like tables.
.responsive-table {
    display: table;
    width: 100%;
    table-layout: fixed;
    .thead {
        display: table-header-group;
        > div {
            display: table-row;
            > div {
                display: table-cell;
                border-bottom: solid 1px $table-border-color;
                font-size: 1.2rem;
                font-weight: 300;
                padding: 1rem 0.5rem;
            }
        }
    }
    .tbody {
        display: table-row-group;
        > div {
            display: table-row;
            @include transition(background $default-transition);
            &:hover {
                background: rgba($primary, 0.05);
            }
            > div {
                display: table-cell;
                padding: 0 0.5rem;
                font-size: 1.4rem;
                line-height: 3.8rem;
                min-height: 3.8rem;
            }
        }
    }
}

// Regular Table Styles
table {
    th {
        font-weight: 400;
        text-align: left;
    }
}
