@model Harcourts.eOpen.Web.Models.FacebookUserModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.email</h2>
<h2>@Model.id</h2>

<h2>@Model.first_name</h2>

<h2>@Model.last_name</h2>
