@{
    Layout = "~/Views/Dummy/_Layout.cshtml";
}

<section class="section">
    <header class="main-header">
        <img class="logo" src="/Images/harcourts-logo.svg" alt="Harcourts" />
    </header>
    section 1
</section>

<section class="section">
    section 2
</section>

<section class="section">
    section 3
</section>


