@{
    Layout = "~/Views/Dummy/_Layout.cshtml";
}

<section class="section home" data-anchor="home">
    <div class="container">
        <h1>Elegant home with outstanding views in a premium location!</h1>

        <footer>
            <img class="logo" src="/Images/harcourts-logo.svg" alt="Harcourts" />
            <a class="register" href="/dummy#form">
                Sign In
            </a>
        </footer>
    </div>
</section>

<section class="section gallery" data-anchor="gallery">
    <div class="slide">
        <img src="/Images/House/image1.jpg"/>
    </div>
    <div class="slide">
        <img src="/Images/House/image2.jpg" />
    </div>
    <div class="slide">
        <img src="/Images/House/image3.jpg" />
    </div>
    <div class="slide">
        <img src="/Images/House/image4.jpg" />
    </div>
    <div class="slide">
        <img src="/Images/House/image5.jpg" />
    </div>
    <div class="slide">
        <img src="/Images/House/image6.jpg" />
    </div>
    <div class="slide">
        <img src="/Images/House/image7.jpg" />
    </div>
    <div class="slide">
        <img src="/Images/House/image8.jpg" />
    </div>
    <div class="slide">
        <img src="/Images/House/image9.jpg" />
    </div>
    <div class="slide">
        <img src="/Images/House/image10.jpg" />
    </div>
    <div class="slide">
        <img src="/Images/House/image11.jpg" />
    </div>
</section>

<section class="section form" data-anchor="form">
    section 2
</section>




